<%= render partial: 'shared/warning_popup'%>
<div class="row">
  <div class="col-xs-12">
    <div class="reservation-main-box">
      <h1>Personal Retreat Availability</h1>
    </div>
    <div class="row">
      <%= form_tag :controller => :availability, :action => :check_availability do %>
        <div class="reservation-form-box">
          <div class="col-md-8 col-sm-12">
            <div class="row">
              <div class="col-xs-12">
                <h5>Check specific dates or browse availablilty on the calendar.</h5>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Arrival <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Arrival date"></i></p>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <%= text_field_tag :arrival_date, nil,class:"form-control", size:"16", readonly: true, onChange: 'Availability.isWarnable();'%>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Number Of Nights <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title= "<%= "#{t('help.availability.night_count')}"  %>" ></i></p>
                <%= select_tag "nights", options_for_select(1..6, include_blank: true ), prompt: "Please select", class: "select2", id: 'total_nights', onChange: 'Availability.isWarnable();'%>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Departure <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Departure"></i></p>
                <div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                  <%= text_field_tag :departure_date, nil,class:"form-control", size:"16", readonly: true%>
                  <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
                <input type="hidden" id="dtp_input2" value="" />
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p># Of Guests (including children) <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="# Of Guests (including children)"></i></p>
                <%= select_tag "people", options_for_select(1..4), class: "select2"%>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Gender <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Gender"></i></p>
                <div class="btn-group custom-input" data-toggle="buttons">
                  <label class="btn btn-default radio-button-group">
                    <%= radio_button_tag :gender, 'Male'%> Male
                  </label>
                  <label class="btn btn-default radio-button-group">
                    <%= radio_button_tag :gender, 'Female'%> Female
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <p>Willing To Share <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="Willing To Share"></i></p>
                <div class="btn-group custom-input" data-toggle="buttons">
                  <label class="btn btn-default radio-button-group">
                    <%= radio_button_tag :wts, 'Yes'%> Yes
                  </label>
                  <label class="btn btn-default radio-button-group">
                    <%= radio_button_tag :wts, 'No'%> Guaranteed Privacy
                  </label>
                </div>
              </div>
              <div class="clearfix"></div>
              <div class="col-md-12 col-xs-12">
                <p>What is the minimum number of beds needed for your party? <i class="fa fa-info-circle" data-toggle="tooltip" data-placement="top" title="What is the minimum number of beds needed for your party?"></i></p>
              </div>
              <div class="col-md-6 col-xs-12">
                <%= select_tag "bed_count", options_for_select(1..4), class: "select2"%>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="calendar-box">
              <!-- <img src="assets/images/calendar-img.png" alt=""> -->
              <div id="datetimepicker12"></div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="col-md-12 col-xs-12">
            <%= submit_tag 'Check Availability', class: 'btn btn-success'%>
          </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
<script>
  $('#myModal').on('hidden.bs.modal', function () {
    $('#total_nights').val('');
    $('#arrival_date').val('');

  })
</script>
